xml/final/discos/discos.dtd

<!ELEMENT oferta (vehiculo+)>
<!ELEMENT disco (nombre_disco,artista,num_canciones,fecha,precio,foto*)>
<!ELEMENT nombre_disco (#PCDATA)>
<!ELEMENT artista (#PCDATA)> 
<!ELEMENT num_canciones (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ELEMENT foto (#PCDATA)>
 <!ATTLIST foto imagen CDATA #IMPLIED> 
