xml/final/coches/coches.dtd

<!ELEMENT oferta (vehiculo+)>
<!ELEMENT vehiculo (marca,modelo,motor,matricula,kilometros,precio_inicial,precio_oferta,extra*,foto*)>
<!ELEMENT marca (#PCDATA)>
<!ELEMENT modelo (#PCDATA)> 
<!ELEMENT motor (#PCDATA)>
<!ELEMENT matricula (#PCDATA)>
<!ELEMENT kilometros (#PCDATA)>
<!ELEMENT precio_inicial (#PCDATA)>
<!ELEMENT precio_oferta (#PCDATA)>
<!ELEMENT foto (#PCDATA)>
 <!ATTLIST foto imagen CDATA #IMPLIED> 
