xml/final/pelis/pelis.dtd

<!ELEMENT oferta (pelis+)>
<!ELEMENT pelis (nombre_pelis,director,nacionalidad,fecha,protagonistas,foto*)>
<!ELEMENT nombre_pelis (#PCDATA)>
<!ELEMENT director (#PCDATA)> 
<!ELEMENT nacionalidad (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT protagonistas (#PCDATA)>
<!ELEMENT foto (#PCDATA)>
 <!ATTLIST foto imagen CDATA #IMPLIED> 
